doctype html
html
  head
    title= title
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Wink Chat App' )
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,300", rel="stylesheet")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container-fluid.index-div
      div.row
        h1.text-center.index-title It's Time To Say 'Hi...'
        div.col-md-4
        div.col-md-2
          a(href="/signup")
            button.btn.btn-lg.index-opt-btn Sign Up
        div.col-md-2
          a(href="/login")
            button.btn.btn-lg.index-opt-btn Log In
        div.col-md-4
    script( src='/js/jquery.min.js' )
    script( src='/js/bootstrap.min.js' )
    //script( src='/socket.io/socket.io.js' )
    //script( src='/js/styles.js' )