doctype html
html
  head
    title= title
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Wink Chat App' )
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,300", rel="stylesheet")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container-fluid.signup-div
      div.row
        h1.text-center.index-title Sign Up On Wink
        div.col-md-4.col-sm-4
        div.col-md-4.col-sm-4
            form.user-form.signup-form(enctype="multipar/form-data",method="post")
                p.text-center.signup-res-msg
                input.signup-username(type="text",name="username",placeholder="Username",required)
                i.signup-username-ok.check-ok
                br
                br
                input.signup-password(type="password",name="password",placeholder="Password",required)
                i.signup-pwd-ok.check-ok
                br
                br
                input.signup-password-conf(type="password",name="passwordConf",placeholder="Confirm Password",required)
                i.signup-pwdconf-ok.check-ok
                br
                br
                button.btn.btn-lg.signup-btn(type="submit") Sign Up
                br
                br
                a(href="/login")
                  p.text-center Already Have An Accout? Log In
        div.col-md-4.col-sm-4
        
    script( src='/js/jquery.min.js' )
    script( src='/js/bootstrap.min.js' )
    script( src='/js/styles.js' )